@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&family=Nova+Round&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/*--GENERAL--*/
/*--#B08AE4--*/
/*--#013ED2--*/

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    
    
    
}

body{
    background-color: black;
    outline: none;
   

}

/*--BARRE DE NAVIGATION--*/


.nav-bar{
    width: 100vw;
    display: grid; 
    grid-template-columns: 53% 47%;
    justify-content: space-around;
    position: relative; 
    
}

            /*-- COTE GAUCHE DE LA BARRE DE NAVIGATION : LOGO ET SLOGAN--*/

.left-nav-bar {
    
    display: flex;
    justify-content: space-between;
    align-items: center;   
    background-color: red;
    cursor: pointer;
    z-index: 5;
}

.left-nav-bar:hover{
    background-color: white;
    
}

.left-nav-bar:hover .logo-nav{
    color: #E00105;
}

.left-nav-bar:hover h1{
    color: #E00105;
}

.left-nav-bar:hover p{
    color: #E00105;
}

.logonav-slogan-phAlger{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.slogan h6{
    margin-left: 15px;
}

.logo-nav{

    font-size: 70px;
    color: aliceblue;
    margin-right: 5px;
    cursor: pointer;
}



.slogan h1{
    font-family: 'Nova Round', cursive;
    margin-left: 30px;
    color: aliceblue;  
}

.slogan p{ 
    font-family: 'Dancing Script', cursive;
    color: aliceblue;
    font-size: smaller;
    margin-top: 10px;
    margin-bottom: 5px;
    margin-left: 15px;
}

.logonav-slogan-phAlger img {
    width: 170px;
    border-radius: 10px;
    box-shadow: 1px 2px 36px gray;
    object-fit: cover;
    margin-left: 15px;
    margin-right: 15px;
    
}

/*--COTE DROIT DE LA BARRE DE NAVIGATION--*/

.right-nav-bar{
     
    height: 100%; 
    width: 100%; 
    display: flex;
    flex-direction: column;
    justify-content: left;
    align-items: center;   
    position: absolute;
    z-index: 2;
    
     
}

            /*--SELECTEUR DE LANGUE + BOUTON CONNECTE--*/

.langmenu-connect{
    width: 100%;
    margin-bottom: 10px;
    margin-top: 20px;
    margin-left: 800px;
    
        
}

        /*-- selecteur de langue--*/

#select-language{
    width: 125px;  
    box-shadow: 0px 1px 10px rgba(19 210 177 /55%);
    position: absolute;
    margin-left: 120px;
    

  
    
}
#select-language select:hover{
    color: #94f7e6;
    background-color:#E00105;
}


#select-language select{
    width: 100px;
    height: 35px;
    font-size: 15px;
    font-weight: bold;
    color: #E00105;
    background-color: #94f7e6;
    border: 1px solid transparent;
    border-radius: 5px;
    position: absolute;
    cursor: url(assets/hand-pointer-regular.svg), default;
}


              /*--bouton de connexion--*/
.btn{
    width: 160px;
    height: 50px;    
    font-size: 0.7rem;
    cursor: pointer;
    background-color: transparent;
    color: #94f7e6;
    border: 1px solid transparent;
    margin-left: 250px;


}

.btn:hover {

    border: 2px solid #94f7e6;
    border-radius: 50px;
    font-weight: bold;
    transition: border-color .3s;
    box-shadow: 3px 5px 15px #94f7e6;
    transform: translateY(-5px);
        
}



.user {
    font-size: 20px;
    padding-right: 10px;
}

.user:hover {
    color: #94f7e6;
}

      /*formulaire de connexion*/

.connexion {
    
    position: absolute;
    z-index: 1;
    display: flex;
    align-items: center;
    margin: 0;
}

.formWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0 0 800px;
    flex: auto;

}

.formWrapper .card {
    width: 400px;
    padding: 20px;
    background-color: rgb(0 0 0 /95%);
    transition: all .3s ease-in-out;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s, visibility 0.3s;
}

.card.show {
    visibility: visible;
    opacity: 1;
}

.card-header {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 30px 20px 0;
    font-size: 0.8rem;
    color: #94f7e6;
    box-shadow: 2px 3px 8px burlywood;
    border-radius: 50px;
}

.card-header .form-header {
    flex: 50%;
    text-align: center;
    padding: 10px 0;
    border: 1px solid transparent;
    border-radius: 50px;
    user-select: none;
    cursor: pointer;
}

.card-header .form-header.active {
    box-shadow: inset 1px 1px 2px rgba(19 210 177 /55%), inset -1px 1px 2px rgba(19 210 177 /55%), -1px -1px 2px rgba(19 210 177 /55%),
        inset 1px -1px 2px rgba(19 210 177 /55%);
    border-color: #94f7e6;
    transition: border 0.3s;

}

.card-body {
    display: flex;
    flex-wrap: nowrap;
    padding: 40px 0;
    text-align: center;
}

form{
    flex: 0 0 100%;
}



.toggleForm{

   visibility: hidden;
   opacity: 0;
   transition: all 0.3s ease-in-out;
    
}




.form-control {
    width: 100%;
    border: none;
    border-bottom: 1px solid rgb(134 255 249 /65%);
    background: none;
    outline: none;
    padding: 10px 5px;
    margin-bottom: 20px;
    color: whitesmoke;
    font-size: 0.8rem;

}

.form-control::placeholder {
    color: rgb(134 255 249 /50%);
}

label {
    width: 300px;
    display: flex;
    flex: 80% 20%;
    vertical-align: middle;
    flex-wrap: nowrap;
    padding-bottom: 20px;
    color: rgb(134 255 249 / 100%);

}

label p{
    font-size: 0.6rem;
    text-align: left;
    background-color: #E00105;

}

label input{
    margin-left: 200px;
    width: 50px;
    
}

.passWord{
    display: flex;
    outline: none;

}

.passWord::placeholder{
    vertical-align: middle;
}

.passWord img{
    height: 20px;
    cursor: pointer;
    vertical-align: middle;
}

.formButton {
    width: 130px;
    height: 50px;
    border: 1px solid transparent;
    background-color: #94f7e6;
    border-radius: 50px;
    margin-top: 1rem;
    font-size: 0.7rem;
    font-family: 'Nova Round', cursive;
    text-align: center;
    transition: all .3s ease-in-out;
    cursor: pointer;
}

.formButton:hover {

    box-shadow: 3px 5px 15px #94f7e6;
    transform: translateY(-5px);
}

            /*--LE MENU DE LA BARRE DE NAVIGATION--*/
.menu-nav{
    width: 100%;
    display: flex;
    justify-content: space-around;
    position: absolute;
    margin-top: 0px;
    margin-left: -40px;   
}

.menu-nav ul{
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    font-size: 13px;
    position: absolute;

}

.menu-nav li{
    margin-left: 20px;
    
}

.right-nav-bar a{
    color: white;
    text-decoration: none;
    vertical-align: middle;   
}


.icone-home{
    color: aliceblue;
    font-size: 30px;
    margin-right: 10px;
    margin-bottom: 10px;
    vertical-align: middle;
}

.icone-home:hover{
    color: #94f7e6;
}



.icone-home:hover, a:hover{
    
    font-weight: 800;
    transition: all 0.5s ease-in-out;
    color: #94f7e6;
}

 
    
#bar-red{
    width: 115px;
    height: 5px;
    background-color:#E00105;
    margin-top: 5px;
}

#bar-yellow{
    width: 85px;
    height: 5px;
    background-color: yellow;
    margin-top: 5px;
}

#bar-blue{
    width: 250px;
    height: 5px;
    background-color: blue;
    margin-top: 5px;
}


/*LISTE CLIENTS*/
.liste-client{
    width: 90vw;
    height: 90px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: none;
    margin: auto;
    
}

.liste-client h3{
    font-family: 'Nova Round', cursive;
    font-size: 0.7rem;
    margin-right: 50px;
    color: #E00105;
    font-size: 1rem;


}

.logos-clients{
    width: 20%;
    background-color: rgb(164, 164, 231);
    display: flex;
    overflow: hidden;
    
}

.logos-clients img{
    
    width: 50px;
    margin-left: 10px;
    
    animation-duration: 3s;
        animation-name: nosClients;
        animation-iteration-count: infinite; 

}

@keyframes nosClients {
    0%{
        transform: translateX(0);
    }
    14.29%{
        transform: translateX(-60px);
    }
    28.58%{
        transform: translateX(-120px);
    }
    
    42.87% {
        transform: translateX(-180px);
    }

    57.16% {
        transform: translateX(-240px);
    }

    57.16% {
        transform: translateX(-300px);
    }
    
    71.47% {
        transform: translateX(-360px);
    }
    
    85.74% {
        transform: translateX(-420px);
    }
    
    100% {
        transform: translateX(0px);
    }
    
}

/*RESEAUX SOCIAUX*/

.reseaux-sociaux {
    height: 200px;
    width: 60px;
    border-radius: 10px;
    background-color: white;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    right: 30px;
    bottom: 200px;
    cursor: pointer;

}

.reseaux-sociaux i {
    font-size: 30px;
    object-fit: cover;
    color: blue;

}


.reseaux-sociaux:hover {
    background-color: #E00105;
}



/*BOUTON HAUT*/
.btn-haut {
    height: 70px;
    width: 70px;
    background: #94f7e6;
    border-radius: 50%;
    display: grid;
    place-items: center;
    position: fixed;
    right: 30px;
    bottom: 30px;
    cursor: pointer;
    text-decoration: none;

}

.btn-haut i {
    width: 50px;
    text-align: center;
    color: blue;
    font-weight: bolder;
}

.btn-haut:hover {
    background-color: #E00105;
}

.btn-haut:hover i {
    color: #94f7e6;
}

    /*SECTION ACCEUIL*/

.home-inner{
    width: 80vw;
    height: 100vh;
    background-color: #E00105;
    margin: auto;   
}

.home-inner{
    position: relative;
}

.text-home{
    padding-top: 50px;
}
.img-groupe img{
    width: 250px;
    height: auto;
    position: absolute;
    border-radius: 20px;
    margin-left: -120px;
    margin-top: 90px;
    box-shadow: 1px 0px 15px rgba(19 210 177 /55%);
}


h2 img{
    width: 40px;
    object-fit: cover;
    vertical-align: middle;
    
    animation-duration: 1s;
    animation-name: anim2;
    animation-iteration-count: infinite;
}

 @keyframes anim2 {
     0% {
         transform: translateY(0);
     }

     25% {
         transform: translateY(-7px);
     }

    50% {
             transform: translateY(-14px);
     }

    75%{
        transform: translateY(-7px);
     }

    100% {
         transform: translateY(0px);
     }

    0%{
        transform: translateY(0px);
     }

            
    25% {
        transform: translateY(7px);
    }
    
    50% {
        transform: translateY(14px);
    }
    
    75% {
        transform: translateY(7px);
    }

    100% {
        transform: translateY(0px);
    }

 }

.call-icon img{
    position: absolute;
    width: 150px;
    object-fit: cover;
    margin-left: 950px;
    margin-top: -400px;
}

.text-home p{
    margin-top: 50px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1rem;
    text-align: center;
    padding: 0 130px 0 130px;
    
}

.text-home h2{
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.2rem;
    text-align: center;
    padding: 0 130px 0 130px;
    
}

.call-icon img{
    font-size: 10px;
}

/*NOUS CONNAITRE*/

.nous-connaitre{
    width: 80vw;
    height: 100vh; 
    position: relative;
    margin: auto;
    font-family: 'Roboto', sans-serif;
    background-color: #000000;
        background-image: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url(assets/poste.png);
        background-position: center;
        background-size: cover;
    
    position: relative;
      
}

.nousconnaitre-questions{
    color: black;
    font-size: 0.6rem;
    text-align: left;
    position: absolute;
    margin-left: 20px;
    margin-top: 20px;
    border-radius: 10px;
    padding: 10px 10px 10px 10px;
    
}

.nousconnaitre-questions i{
    font-size: 40px;
    color: #E00105;
    margin-left: 10px;
    animation-duration: .8s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;

}

h2 span{
    color: #E00105;
    animation-duration: .8s;
    animation-name: clignoter;
    animation-iteration-count: infinite;
    transition: none;
}

@keyframes clignoter {
    0% {
        color: #E00105;
    }
    40% {
        color: white;
    }
    100% {
        color: #E00105;
    }
}

.nousconnaitre-inner{
    width: 100%;
    display: flex;
    flex-direction: 55% 38%;
    justify-content: space-between;
    position: absolute;
    padding-top: 120px;
    padding-left: 20px;
}

.nousconnaitre-reponse{
    width: 57%;
    color: #E00105;
    font-family: 'Roboto', sans-serif;
    font-size: 0.8rem;
    font-weight: bold;
    line-height: 33px;
    border-radius: 10px;
    position: absolute;
    padding: 1em;
    text-align: left;
    
}

.nousconnaitre-reponse p{
    padding: 20px 10px 10px 10px;
      
}

.algercall-taches{
    width: 39%;
    height: 200px;
    border-radius: 10px;
    padding: 10px 20px 5px 5px;
    position: absolute;
    margin-left: 640px;
    margin-top: 100px;
    
    
}


.algercall-taches p{
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
}

.algercall-taches img{

        border-radius: 20px;
        margin-left: 50px;
        margin-top: 20px;
        box-shadow: 1px 0px 15px rgba(19 210 177 /55%);
        

}

.algercall-taches span{

    animation-duration: .8s;
        animation-name: clignoterac;
        animation-iteration-count: infinite;
        transition: none;
}

@keyframes clignoterac {
    0% {
        color: #E00105;
    }

    40% {
        color: black;
    }

    100% {
        color: #E00105;
    }
}



.nous-connaitre ul{
    color: black;
    margin-top: 20px;
    font-size: 20px;
    

}
.nous-connaitre ul li{
    list-style-type: none;
    text-indent: 20px;
      
    
}

.nous-connaitre ul li i{
    margin-right: 15px;
    color: #94f7e6;
    
}


/*PAGE CONTACT*/
.blue{

    width: 80vw;
    height: 100%;
    background-color: #067691;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;

    }

.blue-inner{
    width: 700px;
    height: 100%;
    
    }

    .blue-inner h4, .blue h3{
        color: white;
        margin-top: 30px;
    }

    .first-ligne{
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin-top: 40px;
        
    }

    .service, .jobs, .autre{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        cursor: pointer;
    }

    .first-ligne p{
        font-size: 20px;
        color: white;
        margin-top: 10px;
    }

    .chalk, .case, #dot{
        font-size: 40px;
        color: #E00105;
        height: 70px;
        width: 70px;
        border-radius: 50%;
        background-color: white;
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

    #dot i{
        margin-left: 4px;
        font-size: 10px;
        color: #E00105;
    }

    #dot{
        display: flex;
        justify-content: center;
        align-items: center;
    
    }

.first-ligne i:hover{
        background-color: #E00105;
        color: #94f7e6;
        transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
    }

#dot:hover {
        background-color: #E00105;
        transition: all 0.4s cubic-bezier(0.5, 0.24, 0, 1);
    }

#dot:hover i{
    color: #94f7e6;
}


    
    
    
 /*formulaire de contact*/

form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 15px;
    margin-top: 20px;
    }

  
    input, #contact select{
        background-color: #3891A7;
        height: 50px;
        width: 700px;
        border: none;
        color: white;
    }
    
    input{
        color: white;
        padding-left: 20px;
    }

   

::placeholder{
        color: rgba(255, 255, 255, 0.5);
        font-size: 18px;
        margin-left: 20px;
    }

    
select{
    
    font-size: 18px;
    padding-left: 20px;
    color: rgba(255, 255, 255, 0.5);

    }
    

    textarea{
        padding-left: 20px;
        padding-top: 20px;
        background-color: #3891A7;
        border: none;
        width: 700px;
    }

    #btn-sub{
        display: flex;
        text-align: center;
        height: 60px;
        width: 150px;
        border-radius: 20px;
        background-color: #E00105;
        cursor: pointer;
        font-weight: bold;
        margin-bottom: 20px;
        
    }

    #btn-sub:hover{
        background-color: white;
        color: #E00105;
        box-shadow: 3px 5px 15px #94f7e6;
        transform: translateY(-5px);
        
    }

    /*BAS DE PAGE*/
    .footer-inner{
        height: 50vh;
        width: 80vw;
        background-color: #014751;
        display: flex;
        justify-content: space-around;
        align-items: center;
        margin: auto;
    }
    .gmaps{
        width: 500px;
        object-fit: cover;
        
    
    }

    iframe{
        border-radius: 20px;
    }

    .gmaps p{
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: 20px;
        color: white;
        margin-bottom: 10px;
    }
    .adresse{
        width: 300px;
        font-size: 20px;
        color: #E00105;
        background-color: white;
        padding: 15px;
        border-radius: 20px;
    }
    .ad, .mail, .tel{
        
        display: flex;
        justify-content: space-between;
    }

    .adresse i{
        margin-right: 10px;
        color: blue;
        vertical-align: middle;
    }

    .ad{
        margin-top: 5px;
    }

    


    span{
        font-weight: bold;
    }

    


       

    
  





